@{meta('Areály | ' + config.name)} 
@{head('areals.js')} 
@{repository.active = 'areals'}
<div id="content-wrapper">
<div clas="row">
    <div class="col-xs-12">
        <h1>Areály</h1>
        <a class="btn btn-submit btn-content-action @{if repository.active == 'areal'} active@{fi}" href="/areal">
			<span class="fa fa-plus" aria-hidden="true"></span>
			<span class="hide-on-mobile">&nbsp;Pridať &nbsp;areál</span>
		</a>
    </div>
</div>


@{if model && Array.isArray(model.areals) && model.areals.length > 0}
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-left col-sm-6 col-xs-6">Názov</th>
            <th class="text-left col-sm-6 col-xs-6">Typ</th>
        <tr>
    </thead>
    <tbody>
        @{foreach areal in model.areals}
        <tr class="item-detail" data-item="@{areal._id.toString()}">
            <td class="text-left">@{areal.nazov || '-'}</td>
            <td class="text-left">@{(areal.budova && areal.budova === true) ? 'Budova' : 'Územie' || '-'}</td>
        </tr>
        @{end}
    </tbody>
</table>

@{view('~/partials/pagination', model)} @{else}
<div>Aktuálne neevidujeme žiadne areály.</div>
@{fi}
</div>
