@{meta('Areál | ' + config.name)} 
@{head('areal.js')} 
@{repository.active = 'areal'} 
<div id="content-wrapper">
    <div class="header text-center">
        <h1>@{model && model.areal ? (model.areal.nazov || 'Detail arealu' ) : 'Nový areál'}</h1>
    </div>
    
    <!--obsah-->

   
        <div class="col-md-12 with-margin-top">
            
             <!--Prepinac medzi budovou a arealom-->
            <div class="form-group-table padding-zero col-md-6 switch-field">             
                <input type="radio" id="switch_left" name="switch" value="Yes"  @{model && model.areal ? (model.areal.budova ? 'checked':'') : 'checked'} />
                <label for="switch_left">Budova</label>
                <input type="radio" id="switch_right" name="switch" value="No"  @{model && model.areal ? (model.areal.budova == false ? 'checked':'') : ''} />
                <label for="switch_right">Územie</label>
            </div>

            <!--Nazov arealu -->
            <div class="col-md-6 padding-zero">
				<div class="form-group">	
                    <label>Názov&nbsp;*</label>						
					<input id="areal-name" class="form-control" type="text" value="@{model && model.areal ? (model.areal.nazov || '') : ''}">
					<input id="areal-name-hidden"  type="hidden" value="@{model && model.areal ? (model.areal.nazov || '') : ''}">
				</div>
            </div>
        </div>


        <!-- Poschodia -->
        <div id="floors">
            <div class="col-md-12 form-group-table">
		        <label class="col-md-6 padding-zero align-bottom" for="areal-poschodia">Poschodia</label>
                <button class="btn btn-submit" data-toggle="modal" data-target="#floor-modal">
                    <span class="fa fa-plus" aria-hidden="true"></span>
                    <span class="hide-on-mobile">&nbsp;Pridať &nbsp;poschodie</span>
                </button>       
		    </div>
            <div class="col-md-12">
                
                <table id="table-floors" class="table with-margin table-bordered table-striped table-hover @{(model && model.areal && Array.isArray(model.areal.poschodia) && model.areal.poschodia.length > 0) ? '' : 'hide-on-desktop'}">
                    <thead>
                        <tr>
                            <th class="text-center col-sm-6 col-xs-6">Obrázok</th>
                            <th class="text-center col-sm-6 hide-on-mobile">Poschodie</th>
                        <tr>
                    </thead>
                    <tbody>
                @{if model && model.areal && Array.isArray(model.areal.poschodia) && model.areal.poschodia.length > 0}
                    @{foreach poschodie in model.areal.poschodia}
                        <tr class="floor-detail" data-toggle="modal" data-target="#floor-modal" data-item="@{JSON.stringify(poschodie)}">
                            <td class="text-center hide-on-mobile">
						    <a href="@{poschodie.url || '/uploads/placeholder.jpg'}">
							    <img src="@{poschodie.url || '/uploads/placeholder.jpg'}" class="thumb">
						    </a>
                            </td>
                            <td class="text-center">@{poschodie.cislo.toString() || '-'}</td>
                        </tr>
                    @{end}                                      
                @{fi} 
                    </tbody>
                </table>  
                <!--Informacna sprava ak je tabulka pre vrcholy prazdna -->
                <div id="floors-empty" class="info-message text-center col-md-12 @{(model && model.areal && Array.isArray(model.areal.poschodia) && model.areal.poschodia.length > 0) ? 'hide-on-desktop' : ''}">
                    <span>Pridajte poschodie</span> 
                </div>   
		    </div>
        </div>
     		      
        <!-- Oblast mapy pre uzemie -->
        <div id="territoryMap">
            <div class="col-md-12 with-margin-bottom">
                <label for="map-image">Mapa *</label>
				<div class="upload-image-wrapper">
					<div class="upload-image-container">
						<button type="button" class="btn btn-sm btn-normal btn-upload-image">Nahrať&nbsp;obrázok</button>
						<input id="map-image-file" class="hidden file-input" type="file" accept="image/png, image/jpeg">
						<input id="map-image" value="@{model && model.areal ? (model.areal.url || '') : ''}" class="uploaded-image-input" type="hidden">
					</div>
				</div>
		    </div>
        </div>

        <!-- Vrcholy -->
        <div class="col-md-12 form-group-table">
		    <label class="col-md-6 padding-zero" for="areal-vrcholy">Vrcholy</label>       
                <button class=" btn btn-submit" data-toggle="modal" data-target="#node-modal">
                    <span class="fa fa-plus" aria-hidden="true"></span>
                    <span class="hide-on-mobile">&nbsp;Pridať &nbsp;vrchol</span>
                </button>
                <div class="col-md-2 float-right">
                    <input id="node-search-name" type="text" class="search form-control" placeholder="Názov vrcholu">
                </div>   
                <div class="col-md-1 text-right padding-zero float-right">
                    <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                </div>                              
		</div>
        
        <div class="col-md-12">
            <table id="table-nodes" class="scrollbar table-hover table-striped results @{(model && model.areal && Array.isArray(model.areal.vrcholy) && model.areal.vrcholy.length > 0) ? '' : 'hide-on-desktop'}">
                <thead>
                    <tr>
                        <th class="text-center col-sm-6 col-xs-6">Názov</th>
                        <th class="text-center col-sm-6 hide-on-mobile">Typ</th>
                    </tr>
                </thead>
                <tbody class="scrollbarStyle table-bordered">
            @{if model && model.areal && Array.isArray(model.areal.vrcholy) && model.areal.vrcholy.length > 0}
                @{foreach vrchol in model.areal.vrcholy}
                    <tr class="node-detail" data-toggle="modal" data-target="#node-modal" data-item="@{JSON.stringify(vrchol)}">
                        <td class="text-center">@{vrchol.nazov || '-'}</td>
                        <td class="text-center">@{vrchol.typ || '-'}</td>
                    </tr>
                @{end}                            
            @{fi} 
                </tbody>
            </table>  
            <!--Informacna sprava ak je tabulka pre vrcholy prazdna -->
            <div id="nodes-empty" class="info-message text-center col-md-12 @{(model && model.areal && Array.isArray(model.areal.vrcholy) && model.areal.vrcholy.length > 0) ? 'hide-on-desktop' : ''}">
                    <span>Pridajte vrchol</span> 
            </div>  
		</div>
        
        <div class="text-right with-margin-top col-md-12">
            <input  id="areal-id" value="@{model && model.areal ? (model.areal._id || '') : ''}" type="hidden">
            <div id="error"></div>
            <div class="additional-infos">* povinný parameter</div>
        </div>
        
    <div class="modal-footer col-md-12">
        <div id="confirm-delete-areal" class="confirm-delete-item" hidden >Naozaj chcete odstrániť kapelu?</br></div>
        @{if model && model.areal && model.areal._id}
        <button id="delete-areal" type="button" class="btn btn-delete">Odstrániť</button>
        @{fi} 
        <button id="cancel-areal" type="button" class="btn btn-normal" data-dismiss="collapse">Zrušiť</button>
      	<button id="submit-areal" type="button" class="btn btn-submit">Uložiť</button>
    </div>
</div>

<!--Modal pre vrchol-->
<div id="node-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-node-title">Nový&nbsp;vrchol</h4>
            </div>
            <div class="modal-body">
                <!-- Nazov vrcholu -->
                <div class="col-md-12 with-margin-bottom">
                    <div class="form-group">
                        <label for="areal-node">Názov vrcholu&nbsp;*</label>
                        <input id="node-name" class="form-control" type="text">      
                    </div>           
                </div>
                <!-- Typ vrcholu combobox -->
                <div class="col-md-12 with-margin-bottom">
                    <div class="form-group">
                        <label for="node-type">Typ&nbsp;vrcholu&nbsp;*</label>
                        <select id="type-combobox" class="form-control">
                            <option value="Placeholder" disabled selected hidden>Vyberte typ vrchlu...</option>
                            <option value="Miestnosť">Miestnosť</option>
                            <option value="Križovatka">Križovatka</option>
                            <option value="Schodisko">Schodisko</option>
                            <option value="Výťah">Výťah</option>
                            <option value="Východ/Vchod">Východ/Vchod</option>
                        </select>
                    </div>                  
                </div>
                <input id="node-id"  type="hidden">
                <div class="additional-infos">* povinný parameter</div>
            </div>
            <div class="modal-footer">
                <div hidden id="confirm-delete-node" class="confirm-delete-item">Naozaj chcete odstrániť vrchol?</br>
                </div>
                <button id="delete-node" type="button" class="btn btn-delete" >Odstrániť</button>
                <button id="submit-node" type="button" class="btn btn-submit">Uložiť</button>
                <button type="button" class="btn btn-normal" data-dismiss="modal">Zrušiť</button>
            </div>
        </div>
    </div>
</div>

<!--Modal pre poschodia-->
<div id="floor-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-floor-title">Nové&nbsp;poschodie</h4>
            </div>
            <div class="modal-body">
                <!-- Obrazok poschodia -->
                <div class="col-md-12 with-margin-bottom">
						<label for="floor-image">Obrázok *</label>
						<div class="upload-image-wrapper">
							<div class="upload-image-container">
								<button type="button" class="btn btn-sm btn-normal btn-upload-image">Nahrať&nbsp;obrázok</button>
								<input id="floor-image-file" class="hidden file-input" type="file" accept="image/png, image/jpeg">
								<input id="floor-image" class="uploaded-image-input" type="hidden" >
							</div>
						</div>
				</div>
 
                <!-- Cislo poschodia -->
                <div class="col-md-12 with-margin-bottom">
                    <div class="form-group">
                        <label for="areal-floor">Číslo&nbsp;poschodia&nbsp;*</label>
                        <input id="floor-number" class="form-control" type="text">      
                    </div>           
                </div>          
                <input id="floor-id"  type="hidden">
                    <div class="additional-infos">* povinný parameter</div>
                </div>
                <div class="modal-footer">
                    <div hidden id="confirm-delete-floor" class="confirm-delete-item">Naozaj chcete odstrániť areál?</br>
                    </div>
                    <button id="delete-floor" type="button" class="btn btn-delete" >Odstrániť</button>
                    <button id="submit-floor" type="button" class="btn btn-submit">Uložiť</button>
                    <button type="button" class="btn btn-normal" data-dismiss="modal">Zrušiť</button>
                </div>
        </div>
    </div>
</div>