 @{meta('Domov | ' + config.name)} @{repository.active = 'home'} @{head('home.js')} @{head('dragscroll/dragscroll.js')}
<div id="content-wrapper">
    @{if model && Array.isArray(model.areals) && model.areals.length > 0}   
    @{if model.areals.map(function(e) { return e.nazov; }).indexOf('Univerzita')>=0}
    
    <!--Vyber mapy-->
    <div class="col-md-12 text-left with-margin-top" >
        <div class="dropdown ">
            <button class=" dropbtn">Vyber mapu</button>
            <div class="dropdown-content">
                @{foreach map in model.areals}
                <a class="map" data-item="@{JSON.stringify({nazov: map.nazov, url: map.url, poschodia: map.poschodia})}">@{map.nazov}</a> @{end}
            </div>
        </div>
    </div>

    <!--Oblast mapy-->
    <div class="text-center col-md-12">
        <h1 id="map-name" class="collapse-title">@{model.areals[model.areals.map(function(e) { return e.nazov; }).indexOf('Univerzita')].nazov}</h1>
    </div>
    <div id="buttons" class="col-md-1 text-right"></div>
    <div class="col-md-11 with-margin-bottom">
        <div class="imgScroll scrollbarStyle dragscroll">
            <i id="mapPoint" class="fa fa-dot-circle-o faa-pulse animated fa-2x "></i>            
            <img class="mySlides" src="@{model.areals[model.areals.map(function(e) { return e.nazov; }).indexOf('Univerzita')].url}">                   
        </div>
    </div>

    <!--tabulka pre najkratsiu cestu-->
    <div class="text-center with-margin-bottom col-md-12">
        <h1 id="shortestPath-name" class="collapse-title"></h1>
        <div class="col-md-12">
            <table id="table-pathSearcher" class="scrollbar table-hover  table-striped results">    
            </table>
        </div>       
    </div>
    
    <!--Oblast vyber budovy z-->
    <div class="text-center padding-zero col-md-6">

        <div class="text-left col-md-6">
            <div class="dropdown with-margin-bottom">
                <button class="dropbtn">Vyber budovu z</button>
                <div class="dropdown-content">
                 @{if model && Array.isArray(model.areals) && model.areals.length > 0}   
                    @{foreach areal in model.areals}
                     @{if areal.budova}    
                    <a class="roomFrom" data-item="@{areal._id}">@{areal.nazov}</a> 
                    @{fi}
                    @{end}
                 @{fi}
                </div>
            </div>
        </div>
        <i class="col-xs-1 with-margin-bottom fa fa-search fa-2x" aria-hidden="true"></i>
        <div class="col-xs-5 form-group">
            <input id="roomFrom-search-name" type="text" class=" search form-control" placeholder="Názov miestnosti">
        </div>
        <div class="text-left col-md-12">
            <table id="table-roomFrom" class="scrollbar alone table-hover with-margin table-striped results">
                <thead>
                    <tr>
                        <th class="text-center col-sm-10 col-xs-10">Miestnosti v budove <span id="nameOfBuildingFrom"   ></span></th>
                    </tr>
                </thead>
                <tbody class="scrollbarStyle table-bordered">
                    <tr>
                        <td class="text-center col-sm-10 col-xs-10"></td>
                    </tr>
                    <tr>
                        <td class="text-center col-sm-10 col-xs-10"></td>
                    </tr>
                    <tr>
                        <td class="text-center col-sm-10 col-xs-10"></td>
                    </tr>
                    <tr>
                        <td class="text-center col-sm-10 col-xs-10"></td>
                    </tr>
                    <tr>
                        <td class="text-center col-sm-10 col-xs-10"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <!--Oblast vyber budovy do-->
    <div class="text-center padding-zero col-md-6">
        <div class="text-left col-md-6">
            <div class="dropdown with-margin-bottom">
                <button class=" dropbtn">Vyber budovu do</button>
                <div class="dropdown-content">
                 @{if model && Array.isArray(model.areals) && model.areals.length > 0}   
                    @{foreach areal in model.areals}
                    @{if areal.budova}
                    <a class="roomTo" data-item="@{areal._id}">@{areal.nazov}</a>
                    @{fi} 
                    @{end}
                 @{fi}
                </div>
            </div>
        </div>
        <i class="col-xs-1 with-margin-bottom fa fa-search fa-2x" aria-hidden="true"></i>
        <div class="col-xs-5 form-group">
            <input id="roomTo-search-name" type="text" class=" search form-control" placeholder="Názov miestnosti">
        </div>

        <div class="text-left col-md-12">
            <table id="table-roomTo" class="scrollbar alone table-hover with-margin table-striped results">
                <thead>
                    <tr>
                        <th class="text-center col-sm-10 col-xs-10">Miestnosti v budove <span id="nameOfBuildingTo"></span></th>
                    </tr>
                </thead>
                <tbody class="scrollbarStyle table-bordered">
                    <tr>
                        <td class="text-center col-sm-10 col-xs-10"></td>
                    </tr>
                    <tr>
                        <td class="text-center col-sm-10 col-xs-10"></td>
                    </tr>
                    <tr>
                        <td class="text-center col-sm-10 col-xs-10"></td>
                    </tr>
                    <tr>
                        <td class="text-center col-sm-10 col-xs-10"></td>
                    </tr>
                    <tr>
                        <td class="text-center col-sm-10 col-xs-10"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Oblast hladania najkratsiej cesty -->
    <div class="text-center col-md-12">
        <a id="submitPathSearch" class="btn btn-normal">
            <span class="fa fa-plus" aria-hidden="true"></span>
            <span >&nbsp;Vyhľadaj&nbsp;cestu</span>
        </a>
    </div>
    @{else}
    <div class="text-center col-md-12">
        <h1 class="collapse-title">Vytvorte areál s názvom Univerzita</h1>
    </div>
    @{fi} @{else}
    <div class="text-center col-md-12">
        <h1 class="collapse-title">V administrácii pridajte areal</h1>
    </div>
    @{fi}
</div>