@{meta('Prihlásenie | ' + config.name)}
@{head('login.js')}
 <div id="content-wrapper" class="logged-out-user">
<div class="login-panel">
    <h1 class="text-center">Prosím prihláste sa</h1>
    <div class="form-group">
        <input id="email" class="form-control" placeholder="E-mail" type="text" autofocus>
    </div>
    <div class="form-group">
        <input id="password" class="form-control" placeholder="Heslo" type="password">
    </div>
    <div class="checkbox">
        <label>
            <input id="remember" type="checkbox" checked>Zapamätať prihlásenie
        </label>
    </div>
    <button id="submit" class="btn btn-submit btn-block">Prihlásiť</button>
</div>
</div>